*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 63%;

  /*@media only screen and (max-width: 65.938em) {
    font-size: 58%;
  }

  @media only screen and (max-width: 64em) {
    font-size: 80%;
  }

  @media only screen and (max-width: 25.75em) {
    font-size: 50%;
  }*/
}

/*.loading-svg {
  display: inline-block;
  margin-top: 10rem;

  & svg {
    display: inline-block;
    animation: 1s linear 0s infinite normal none spin;
    height: 8rem;
    width: 8rem;
    fill: rgba(192, 57, 43,1.0);
  }
}

.apilimitreached {
  z-index: 9000;
  position: fixed;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
  padding: 4rem;
  color: red;  
}

#search-ui {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(192, 57, 43,.9);
  z-index: 9500;
  height: 100vh;
  width: 100vw;
  text-align: center;
  word-wrap: break-word;
  display: none;
  font-size: 5rem;
  color: #fff;
  font-weight: 700;
  padding: 7rem 10rem;
  letter-spacing: .2rem;

  &-text {
    min-height: 20rem;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  &-cursor {
    color: #fff;
    animation: cursorBlink .8s linear .3s infinite; 
  }

  &-close {
    position: absolute;
    top: 4%;
    right: 2%;
    height: 6rem;
    width: 6rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    & svg {
      height: 3rem;
      width: 3rem;
      fill: #000000;
    }
  }
}*/