$color-grey-dark-2:rgba(223, 230, 233,1.0);
$color-white: #fff;
$color-black: #000;
$color-fade: #dfe6e9;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);  
  }
}

.app {
  padding: 3rem;
  position: relative;

  @media only screen and (max-width: 37.5em) {
    padding: 1rem;
  }

  &__search {
    position: relative;
    padding: 3rem 1rem;
    background: $color-fade;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 95vw;
    margin: 0 auto;
    height: 30vh;

    @media only screen and (max-width: 37.5em) {
      width: 96vw;
      transform: translateX(-.3rem);
    }

    &--topic {
      text-align: left;
      width: 90%;
      color: rgba(52, 31, 151,1.0);
      font-size: 3rem;
      padding: 1rem 0;
      font-weight: 700;

      @media only screen and (max-width: 37.5em) {
        font-size: 2rem;
      }

      & span {
        color: rgba(52, 31, 151,.7);
      }
    }

    &__inputarea {
      position: relative;
      width: 90%;
      height: 6rem;

      &--svg {
        position: absolute;
        top: 0;
        left: 1%;
        height: 100%;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
  
        & svg {
          height: 3rem;
          width: 3rem;
          fill: rgba($color-black, .1);
        }
      }

      &--input {
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        padding-left: 5rem;
        border-radius: 1rem;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        height: 100%;
  
        &::-webkit-input-placeholder {
          color: rgba($color-black, .7);
          transform: translateX(.5rem)
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
    grid-template-rows: repeat(auto-fit, minmax(15rem, 15rem));
    grid-gap: 1rem;
    min-height: 100vh;
    justify-content: center;

    @media only screen and (max-width: 37.5em) {
      display: flex;
      flex-direction: column;
    }
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    &--spinner {
      position: relative;
      width: 7.3rem;
      height: 7.3rem;

      &::before {
        content: '';
        width: 7.3rem;
        height: 7.3rem;
        border-radius: 50%;
        border: .5rem solid #fff;
        border-color: #fff #fff #fff #000000;
        transition: all .3s ease-in;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        animation: spin .3s linear .3s infinite;
      }
    }
  }
}
