$color-fade: #dfe6e9;

.photoview {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;

  &__close {
    position: absolute;
    top: 3%;
    right: 7%;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    & span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 3;
      background: transparent;
      border-radius: 50%;
      cursor: pointer;
    }

    & svg {
      height: 4.5rem;
      width: 4.5rem;
    }
  }

  &__body {
    height: 85%;
    width: 50%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    margin: 3rem auto;

    @media only screen and (max-width: 64em) {
      width: 95%;
    }

    @media only screen and (max-width: 37.5em) {
      height: 60%;
    }

    &--fig {
      width: 100%;
      height: 100%;
      background: $color-fade;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: all .2s ease-in;     
      }
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3rem;
    background: #fff;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;

    & h2 {
      color: rgba(52, 31, 151,1.0);
    }

    & p {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 900;
    }
  }
}